.navbar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-one {
}

.Tittle {
  margin: 0;
  padding: 10px;
}

.container-two {
  display: flex;
  justify-content: space-around;
}
.nav-button {
  margin: 0px;
}
.nav-button > a {
  font-weight: bold;
  outline: none;
  text-decoration: none;
  text-align: center;
  color: black;
}
